// Grid gutters
// -------------------------
$gutter-sm: 0.75em;
$gutter-lg: 1.25em;

// Grid column counts
// -------------------------
$grid-columns-sm: 6;
$grid-columns-md: 12;
$grid-columns-lg: 15;
