// Container widths
// -------------------------
$container-sm: 20em;
$container-md: 38em;
$container-lg: 55em;

// Breakpoints
// -------------------------
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
