// Set up page wrapper
// -------------------------
.wrapper {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include min-width($breakpoint-md) {
    max-width: 38em;
  }

  @include min-width($breakpoint-lg) {
    max-width: 55em;
  }
}

// Uncomment to view grid debugger
.wrapper-debug {
  display: none;

  &.is-active {
    @include debug($container-sm, $grid-columns-sm, $gutter-sm);

    @media screen and (min-width: $breakpoint-md) {
      @include debug($container-md, $grid-columns-md, $gutter-sm);
    }

    @media screen and (min-width: $breakpoint-lg) {
      @include debug($container-lg, $grid-columns-lg, $gutter-lg);
    }

    // Some additional styles to display our debugging container on top
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
}

.button-toggle {
  font-size: 0.8em;
  display: block;
  margin: 0 auto;
}

// Grid styles
// -------------------------
.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-sm, 1fr);
  grid-gap: $gutter-sm;
  margin-bottom: $gutter-sm;

  @include min-width($breakpoint-md) {
    grid-template-columns: repeat($grid-columns-md, 1fr);
  }

  @include min-width($breakpoint-lg) {
    grid-template-columns: repeat($grid-columns-lg, 1fr);
    grid-gap: $gutter-lg;
    margin-bottom: $gutter-lg;
  }
}

// Grid items default to single column on small screens
.grid > * {
  grid-column: 1 / span 6;
}

// Flexbox styles for media objects
.media {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.media-content {
  flex: 1;
  background: #5D445D;
  color: white;
}

.quote {
  background: #C6E5D9;
}

.quote-text {
  padding: 1em;
}

// Medium-screens: tablet-ish
@include min-width($breakpoint-md) {
  .grid-1 {
    margin-bottom: 3em;
  }

  .heading {
    grid-column: 1 / span 9;
    grid-row: 1;
  }

  .quote-1 {
    grid-column: 1 / span 12;
  }

  .quote-2 {
    grid-column: 1 / span 4;
  }

  .quote-3 {
    grid-column: 5 / span 4;
  }

  .quote-4 {
    grid-column: 9 / span 4;
  }

  .quote-5 {
    grid-column: 1 / span 6;
  }

  .quote-6 {
    grid-column: 7 / span 3;
  }

  .quote-7 {
    grid-column: 10 / span 3;
  }

  .see-more {
    grid-column: 10 / span 3;
    grid-row: 1;
  }
}

// Large screens
@include min-width($breakpoint-lg) {
  .grid-1 {
    grid-template-rows: auto repeat(3, 1fr);
  }

  .heading {
    grid-column: 1 / span 12;
  }

  .quote-1 {
    grid-column: 1 / span 12;
    grid-row: 2 / span 3;
  }

  .quote-2 {
    grid-column: 13 / span 3;
  }

  .quote-3 {
    grid-column: 13 / span 3;
  }

  .quote-4 {
    grid-column: 13 / span 3;
  }

  .quote-5 {
    grid-column: 9 / span 7;
  }

  .quote-6 {
    grid-column: 1 / span 4;
  }

  .quote-7 {
    grid-column: 5 / span 4;
  }

  .see-more {
    grid-column: 13 / span 3;
  }
}

// Page styles
// -------------------------
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: San Francisco, Helvetica Neue, Arial, sans-serif;
}

h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page-header {
  background: #E94E77;
  color: white;
  padding: 2em;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: 2em;
  text-align: center;
}

.page-footer {
  grid-row: 3;
  padding: 1em;
  background: #C6E5D9;
  color: #382F2D;
  text-align: center;

  a {
    color: #5D445D;
  }
}
