<!doctype html>
<html>

<head>
  <title>Prototyping with CSS Grid</title>

  <meta charset="utf-8" />
  <meta name="description" content="content" />
  <meta name="keywords" content="tags" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="/main.css" type="text/css" media="all" />
</head>

<body>
  <header role="banner" class="page-header">
    <h1>*~ Sweet Celebrity Quotes ~*</h1>
  </header>

  <main role="main" id="main">
    <div class="wrapper">
      <div class="wrapper-debug"></div>
      <section class="grid grid-1">
        <h2 class="heading">Bill Murray</h2>
        <div class="quote quote-1">
          <p class="quote-text">“It's hard to be an artist. It's hard to be anything. It's hard to be.”</p>
        </div>
        <div class="quote quote-2">
          <p class="quote-text">&ldquo;It&rsquo;s extremely powerful to say no; it&rsquo;s really the most powerful thing to say.&rdquo;</p>
        </div>
        <div class="quote quote-3">
          <p class="quote-text">&ldquo;Don&rsquo;t think about your errors or failures, otherwise you&rsquo;ll never do a thing.”</p>
        </div>
        <div class="quote quote-4">
          <p class="quote-text">&ldquo;You know what they say: &lsquo;Ain&rsquo;t no try, ain&rsquo;t nothing to it but to do it.&rsquo;&rdquo;</p>
        </div>
        <div class="see-more">
          <a href="https://www.google.com/search?q=bill+murray+quotes" class="more-link">See more</a>
        </div>
      </section>
    </div>

  <button type="button" class="button-toggle">Toggle grid debugger</button>

  </main>

  <footer role="contentinfo" class="page-footer">
    <p>
      <a href="https://github.com/jessabean/grid-prototype-refresh-dc" class="icon-link">
        <svg id="github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor" aria-labelledby="github-link">
          <title id="github-link">Find this project on Github</title>
          <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z"></path>
        </svg>
      </a>
    </p>
    <p>Made with enthusiasm by <a href="http://jessica-eldredge.com">jessabean</a></p>
  </footer>

  <script src="/client.js"></script>
</body>
</html>
